
<div class="particles-container">
    <div class="particle" style="top: 90%; left: 20%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 95%; left: 60%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 85%; left: 80%; animation-duration: 10s;"></div>
    <div class="particle" style="top: 83%; left: 35%; animation-duration: 14s;"></div>
    <div class="particle" style="top: 80%; left: 5%; animation-duration: 9s;"></div>
    <div class="particle" style="top: 70%; left: 20%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 65%; left: 60%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 64%; left: 80%; animation-duration: 5s;"></div>
    <div class="particle" style="top: 61%; left: 35%; animation-duration: 17s;"></div>
    <div class="particle" style="top: 55%; left: 5%; animation-duration: 9s;"></div>
    <div class="particle" style="top: 52%; left: 20%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 49%; left: 60%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 47%; left: 80%; animation-duration: 10s;"></div>
    <div class="particle" style="top: 41%; left: 35%; animation-duration: 14s;"></div>
    <div class="particle" style="top: 40%; left: 5%; animation-duration: 9s;"></div>
    <div class="particle" style="top: 37%; left: 20%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 33%; left: 60%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 29%; left: 80%; animation-duration: 5s;"></div>
    <div class="particle" style="top: 24%; left: 35%; animation-duration: 17s;"></div>
    <div class="particle" style="top: 20%; left: 5%; animation-duration: 19s;"></div>
    <div class="particle" style="top: 17%; left: 5%; animation-duration: 13s;"></div>
    <div class="particle" style="top: 14%; left: 5%; animation-duration: 4s;"></div>
    <div class="particle" style="top: 10%; left: 5%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 8%; left: 5%; animation-duration: 4s;"></div>
    <div class="particle" style="top: 4%; left: 5%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 2%; left: 5%; animation-duration: 6s;"></div>
    <div class="particle" style="top: 1%; left: 5%; animation-duration: 4s;"></div>
</div>
