#shape-1 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  top: -300px;
  right: 400px;
  width: 300px;
  height: 300px;
  z-index: -10;
}

#shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  top: -100px;
  right: 10px;
  width: 300px;
  height: 300px;
  z-index: -10;
}

/* .fade {
  animation-duration: 1s;
  animation-fill-mode: both;
  padding: auto;
  animation-name: fade-in;
} */

/* .fade-delay-small {
  animation-delay: 0.15s;
}

.fade-delay-medium {
  animation-delay: 0.3s;
}

.fade-delay-big {
  animation-delay: 0.4s;
} */


#content-area {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
}

#content-area::before {
  content: '';
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
}
